.content {
  background: rgba(221, 205, 152, 0.89);
  margin: 15px;
  padding: 25px;
  min-height: 280;
}
.ButtonStyle {
  background-color: rgb(48, 47, 47) !important;
  color: yellow !important;
}
.cardStyle {
  padding: 5px !important;
}
.centrar {
  text-align: center !important;
}
.imagenStyle {
  height: 190px !important;
}
.logoStyle {
  width: 130px;
}
.CarrouselStyle {
  padding-left: 250px;
}
.formStyle {
  background: rgb(243, 238, 217);
  padding-right: 150px;
}
.inputStyle {
  border-radius: 15px !important;
}
.FormatRow {
  text-align: center;
  
}
.FormatCol {
  background: rgb(255, 255, 255);
}
